@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #0a0a0a; /* Darker shade for deeper contrast */
  color: #f5f5f5; /* Slightly off-white for softer contrast */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/* Update to make the logo spin smoother and less distractive */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 40s linear;
  }
}

.App-header {
  background-color: #282c34;
  padding: 2rem 0; /* Adjusted padding for better spacing */
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

#contact, #about {
  padding: 2rem;
  margin: 2rem auto;
  max-width: 800px; /* Ensures content is not too stretched on wider screens */
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds subtle shadow for depth */
}

#contact button {
  background-color: #008080; /* Teal for consistency and better visibility */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#contact button:hover {
  background-color: #006666; /* Darker shade of teal on hover */
}

#about h2, #about h4, #projects h2 {
  color: #4dd0e1; /* Brighter teal for headings to stand out */
}

#about p, #about ul, #projects p {
  font-size: 1em;
  line-height: 1.7;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  #contact form, #about, #projects {
    margin: 1rem;
    padding: 1rem;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: 1fr; /* Adjust for smaller screens */
    grid-gap: 1rem;
  }
}

/* Keyframes for logo animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
