@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #0a0a0a;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 40s linear;
  }
}

.App-header {
  background: linear-gradient(135deg, #282c34 0%, #4b6cb7 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2rem 0;
}

h1 {
  font-weight: 700;
  margin-bottom: 0.5em;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#contact, #about {
  padding: 2rem;
  margin: 2rem auto;
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#contact form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

#contact label {
  margin-top: 1rem;
}

#contact input,
#contact textarea {
  padding: 0.5rem;
  margin-top: 0.5rem;
}

#contact button {
  margin-top: 1rem;
  background-color: #008080;
  transition: background-color 0.3s;
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}

#contact button:hover {
  background-color: #006666;
}

#about, #projects {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.9);
}

#about h2, #about h4 ,#projects h2 {
  color: #4dd0e1;
}

#about p, #about ul {
  font-size: 1.1em;
  line-height: 1.6;
}

#about ul {
  list-style: inside;
}

#about ul li {
  margin-bottom: 5px;
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text, .about-image {
  flex: 1;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Responsive styling */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }
}


@media (max-width: 768px) {
  #contact form, #about, #projects {
    margin: 1rem;
    padding: 1rem;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 1rem;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}